# Python
__pycache__/
*.pyc
.venv/
*.egg-info/
.pytest_cache/

# Environment
.env

# Android
*.iml
.gradle/
local.properties
/.idea/
app/build/
/build/
/captures/
.externalNativeBuild/
.cxx/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
*.swp
